{{#each champs}}
<li>
    <h2>Nombre de la nave: <b>{{this.name}}</b></h2>
    <p>Model: <b>{{this.model}}</b></p>
    <p>Petenece al bando de: <b>{{this.faction}}</b></p>
    <img src={{this.img}} alt={{this.name}}>
</li>
{{/each}}